div {
    width: 300px;
    height: 300px;
    margin: 3px;
    padding: 2px;
    border: 2px solid red;
    -webkit-transform-style: preserve-3d;
}

article {
    -webkit-perspective: 200;
}

hover:article .rotate {
    -webkit-transform: rotateY(270deg);
}
