div {
    width: 200px;
    height: 200px;
    margin: 4px;
    padding: 4px;
    border: 1px solid gray;
    -webkit-transform-style: preserve-3d;
}

article {
    -webkit-perspective: 200;
}

hover:article .block1 {
    -webkit-transform: rotateY(180deg);
}

.block2 {
    
}