@keyframes mylogoanimation {
    from {
        transform: rotate(45deg);
    }
    25% {

        transform: rotate(90deg);
    }
    50% {

        transform: rotate(180deg);
    }
    75% {

        transform: rotate(270deg);
    }
    to {

        transform: rotate(360deg);
    }
}

.logo {
    display: none;
}

article div {
    width: 300px;
    margin: 0 auto;
}

article:hover .logo {
    display: block;
    animation: mylogoanimation 2s infinite ease-in;
}

@keyframes growupanimation {
    from {
        font-size: 10pt;
        color: black;
    }
    25% {
        font-size: 15pt;
        color: yellow;
    }
    50% {
        font-size: 10pt;
        color: orange;
    }
    75% {
        font-size: 15pt;
        color: red;
    }
    to {
        font-size: 10pt;
        color: purple;
    }
}

.colored:hover {
    animation: growupanimation 2.5s infinite ease-in;
}
