a[title] {
    font-size: 25pt;
    border: 1px dotted lime;
    background-color: green;
}

img[alt] {
    font-size: 1.2em;
    font-weight: bold;
    border: 1px dashed red;
}

img[title="htmllogo"] {
    font-size: 15pt;
    border: 1px dotted green;
}
