tbody tr:first-child {
  background-color: lime;
  font-weight: bold;
}

tr td {
    border-bottom: 1px solid gray;
    background-color: #ccc;
}

tbody tr:last-child {
  background-color: darkred;
  color: white;
}
