nav  {
   display: table;
}

nav ul {
   display: table-row;
}

nav ul li {
   margin: 1em;
   padding: 2em;
   display: table-cell;
}

nav ul li:nth-child(odd)  {
    background-color: lime;
}

nav ul li:nth-child(even)  {
    background-color: green;
}
