.constitution {
    color: #333;
}

.constitution:first-letter {
    font-size: 4em;
    font-weight: bolder;
    color: black;
}

.constitution:first-line {
    font-size: 15pt;
    font-weight: bold;
    color: #ccc;
}
