body {
    background-color: hsl(150, 100%, 100%);
    background-image: url('../images/backgroundlogos.png');
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-position: center;
    margin: 1em;
}

.title {
    color: hsl(30, 100%, 60%);
    text-align: center;
    font-weight: bold;
}

.manifesto {
    margin: 4px;
    padding: 20px;
    background-color: hsla(175, 20%, 35%, 0.75);
    color: hsl(200, 55%, 80%);
}
