.manifesto {
    background-color: rgba(35, 35, 35, 0.70);
    color: rgb(180, 180, 180);
    padding: 10px;
    margin: 4px;
}

.manifesto h2 {
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}

main {
    font-size: 1.2em;
    font-style: italic;
    background: url(../images/grunt-logo.png) left no-repeat,
                url(../images/git-logo.png) center no-repeat,
                url(../images/css3-logo.png) right no-repeat;
}

footer {
    background-color: #313131;
    color: #330044;
}
