nav  {
  display: table;
}

nav ul {
  display: table-row;
}

nav ul li {
 margin: 5px;
 padding: 4px;
 display: table-cell;
}

ul li.current {
    cursor: all-scroll;
    background-color: lime;
}

ul li:not(current)  {
    background-color: gray;
}
