body {
    background-color: white;
    background-image: url('../images/backgroundlogos.png');
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-position: center;
}

.title {
    font-size: 3em;
    text-align: center;
    font-weight: bolder;
}

.manifesto {
    margin: 1em;
    padding: 2em;
    color: rgb(210, 210, 210);
    background-color: rgba(33, 33, 33, 0.7);
}
