p {
    font-size: 0.8em;
    text-shadow: 2px 2px 0 rgba(190, 140, 145, 0.6);
}

a {
   text-shadow: none;
}

a:hover {
   text-shadow: 1em 1em 0 orange;
}

div {
   margin: 1em;
   padding: 1em;
}

.title {
    color: #ccc;
    text-shadow: 2px 2px 0 #404042;
    text-shadow: 2px 2px 0 hsla(155, 4%, 37%, 0.6);
}

.shadow1 {
   box-shadow: 1em 1em 1em olive;
}

.shadow2 {
   box-shadow: -2em -2em 1px fuchsia;
}

.shadow3 {
   box-shadow: 1em 0 0 navy;
}
