div {
    width:  300px;
    margin: 2em;
    padding: 2em;
    border: 1px solid black;
}

.rotate:hover {
    transform: rotate(35deg);
}

.scale:hover {
    transform: scale(0.5);
}

.skew:hover {
    transform: skew(6deg, 11deg);
}

.translate:hover {
    transform: translate(15px 30px);
}

.matrix:hover {
    transform: matrix(2.6, 0.2, 2.6, 1.7, 35, -11);
}

.transform-origin:hover {
    transform: rotate(-15deg);
    transform-origin: 10%, 20%;
}
