
@font-face {
    font-family: 'KapsalonRegular';
    src: url('fonts/Kapsalon/Kapsalon.eot');
    src: url('fonts/Kapsalon/Kapsalon.eot?#iefix') format('embedded-opentype'),
        url('fonts/Kapsalon/Kapsalon.woff') format('woff'),
        url('fonts/Kapsalon/Kapsalon.ttf') format('truetype'),
        url('fonts/Kapsalon/Kapsalon.svg#KapsalonRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.helvetica {
    font-family: 'Helvetica', Arial, sans-serif;
}

.beauty {
    text-transform: uppercase;
    font-family: 'KapsalonRegular';
}
